{% extends 'appmodel/padre.html' %}

{% load static %}

{% block titulo %}

<h1 class="mb-5">ALUMNOS</h1>

{% endblock %}

{% block lista %}

{% for alumno in object_list %}

<li>{{ alumno }}</li>

<button>
    <a href="{% url 'alumnodetalle' alumno.id %}">Ver detalles</a>
</button>
<button>
    <a href="{% url 'alumnoeditar' alumno.id %}">Editar</a>
</button>
<button>
    <a href="{% url 'alumnoborrar' alumno.id %}">Eliminar</a>
</button>
{% endfor %}
<br>
<i>
    <a href="{% url 'alumnocrear' %}">Crear Nuevo Alumno</a>
</i>

{% endblock %}