{% extends 'appcoder/padre.html' %}

{% load static %}

{% block titulo %}

<h1 class="mb-5">CURSOS ENCONTRADOS</h1>

{% endblock %}

{% block formulario %}

{% if not rta%}
{%if cursos %}

<h1>Estos son los cursos de {{nombre}} encontrados</h1>

<ul>
{% for curso in cursos %}

    <li>Curso de {{curso.Nombre}}. Comision: {{curso.Comision}}.</li>
    <br>
{% endfor %}

</ul>

{% else %}

<h1>No se encontraron cursos de {{nombre}}</h1>

{% endif %}

{% else %}

<h1 style="color:red"> {{ rta }}</h1>

{% endif%}

<a class="btn btn-primary" href="{% url 'cursos' %}">VOLVER A LA PAGINA DE CURSOS</a>

{% endblock %}