{% extends 'appmodel/padre.html' %}

{% load static %}

{% block titulo %}

<h1 class="mb-5">Crear/Editar Reseña</h1>

{% endblock %}

{% block lista %}

<form method="POST" enctype="multipart/form-data">{% csrf_token %}

    {{ form.as_p }}

    <input class="btn btn-primary" type="submit" value="Enviar"/>
    <a class="btn btn-danger" href="{% url 'reseñas' %}">Regresar</a>

</form>

{% endblock %}

{% block navegador %}
<li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Inicio</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'reseñas' %}">Reseñas</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'chats' %}">Chat</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'perfil' %}">Mi perfil</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'about_me' %}">Acerca de mi</a></li>
{% endblock %}