{% extends 'appmodel/padre.html' %}

{% load static %}

{% block titulo %}

<h1 class="mb-5"> {{ object }}</h1>

{% endblock %}

{% block lista %}

<p>Nombre: <i>{{reseña.titulo}}</i></p>
<p>Fecha de lanzamiento: <i>{{reseña.fecha}}</i></p>
<p><i>{{reseña.cuerpo}}</i></p>
<p>Puntuacion: <i>{{reseña.valoracion}}</i></p>


<p>
    <a class="btn btn-danger" href="{% url 'reseñas' %}"> Regresar</a>
</p>

{% endblock %}

{% block navegador %}
<li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Inicio</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'reseñas' %}">Reseñas</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a></li>

{% endblock %}