{% extends 'appmodel/padre.html' %}

{% load static %}

{% block titulo %}

<h1 class="mb-5">RESEÑAS</h1>

{% endblock %}

{% block lista %}

    <div class="card-body">
    </div>


{% for object in object_list %}

    <h2 class="card-title h4">{{ object }} </h2>
    <a class="btn btn-primary" href="{% url 'reseñadetalle' object.id %}">Leer</a>
    <a class="btn btn-primary" href="{% url 'reseñaeditar' object.id %}">Editar</a>
    <a class="btn btn-primary" href="{% url 'reseñaborrar' object.id %}">Eliminar</a>

{% endfor %}

<div class="text-center my-5">
    <div class="card mb-4">
        <a class="btn btn-danger"href="{% url 'reseñacrear' %}">Escribir una nueva reseña</a>
    </div>
</div>
{% endblock %}

{% block navegador %}
<li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Inicio</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'reseñas' %}">Reseñas</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a></li>

{% endblock %}